:root {
    --text-color: #222;
    --bkg-color: rgb(242, 242, 242);
    --dark-blue-1: #1f3073;
    --blue-1: #356FB6;
    --blue-2: rgb(0, 169, 224);
}


/* ---- GLOBAL STYLES ---- */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 100px;
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: 'Avenir', sans-serif;
    max-width: 1800px;
    min-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    text-align: center;
}

p {
    line-height: 1.5em;
}


/* ---- HEADER STYLES ---- */
header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 100px auto 1fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bkg-color);
    filter: drop-shadow(0px 0px 4px var(--text-color));
    z-index: 100;
}

/* NAV STYLES START */
header img {
    order: -1;
    margin: 10px;
    height: 80px;
    width: 80px;
}

#main-nav {
    width: 100%;
}

#main-nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#main-nav a {
    padding: 10px 10px;
    font-size: 22px;
    width: 100px;
    margin-top: 45px;
    transition: all .1s linear;
}

.current-page {
    border-radius: 0px;
    border-bottom: 3px solid var(--blue-2);
}

#main-nav #logout {
    margin-left: 120px;
    font-size: 16px;
    padding: 5px;
    border-radius: 0;
    border-bottom: 3px solid var(--bkg-color);
    background-color: var(--bkg-color);
    color: var(--text-color);
    transition: border 0.1s linear;
}

#main-nav a:hover {
    border-radius: 5px;
    background-color: var(--blue-1);
    color: var(--bkg-color);
}

#main-nav #logout:hover {
    border-bottom: 3px solid orange;
}

#main-nav a:active {
    transform: scale(.95);
}



/* ---- SIDEBAR STYLES ---- */
#sidebar {
    grid-column: 1 / 2;
    position: fixed;
    top: 100px;
    height: 94vh;
    width: 200px;
    background-color: var(--bkg-color);
    overflow: scroll;
}

#sidebar a {
    position: relative;
    margin: 30px 0;
    padding: 10px;
    font-size: 18px;
    border-bottom: 3px solid var(--bkg-color);
    transition: 0.3s ease-in-out;
    z-index: 100;
}

#sidebar a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: calc(100% + 9px);
    transition: 0.3s ease-in-out;
    left: 20px;
    bottom: -5px;
    border-bottom: 3px solid var(--text-color);
    background-color: var(--blue-2);
    z-index: -50;
}

#sidebar a:hover::after {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
}

#sidebar a:hover {
    color: var(--bkg-color);
}

#sidebar::-webkit-scrollbar {
    width: 4px;
}

#sidebar::-webkit-scrollbar-track {
    background-color: white;
}

#sidebar::-webkit-scrollbar-thumb {
    background: var(--dark-blue-1);
    border-radius: 5px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-1);
}

/* ---- MAIN STYLES ---- */
main {
    grid-column: 2 / -1;
    padding: 0 20px;
}

section {
    display: grid;
}

h2 {
    margin: 30px 0 10px 0;
    font-size: 36px;
}

img {
    width: 90%;
    margin: 30px 0;
    justify-self: center;
}